# App artifacts
/_build
/db
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Secrets
/config/prod.secret.exs
/config/dev.secret.exs

# Deployment
.deliver

.DS_Store
.deliver/releases/

rel/elixirhunt